.searchBar {
  flex-grow: 1;
  display: flex;
  max-width: 700px;
  margin: 0 auto;
}

.searchContainer {
  display: flex;
  align-items: center;
  width: 100%;
  background: var(--panel);
  border: 2px solid var(--outline);
  border-radius: 30px;
  padding: 6px 12px;
  transition: 0.2s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.searchContainer:focus-within {
  border-color: #479df8;
  box-shadow: 0 4px 12px rgba(24, 127, 237, 0.646);
  transform: translateY(-1px);
}

.searchIcon {
  color: var(--text);
  margin-right: 12px;
  flex-shrink: 0;
  transition: 0.2s;
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: var(--text);
  padding: 8px 0;
}

.searchInput::placeholder {
  color: #888989;
  font-style: italic;
}

.searchButton {
  background: linear-gradient(120deg, #4898ed, #0a69cf);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  margin-left: 12px;
  flex-shrink: 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.searchButton:hover {
  background: linear-gradient(120deg, #59a7fa, #1172d9);
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(10, 128, 255, 0.4);
}

.searchButton:active {
  transform: translateY(0);
  box-shadow: 0 2px 6px rgba(0, 123, 255, 0.3);
}

.searchButton:disabled {
  background: #e9ecef;
  color: #adb5bd;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}


/* different disabled button for dark theme */
:global(.dark) .searchButton:disabled {
  background: #4a5568;
  color: #74859f;
}


@media (max-width: 768px) {
  .searchInput {
    width: 200px;
    font-size: 0.9rem;
    padding: 8px 16px;
  }

  .searchButton {
    padding: 8px 16px;
    font-size: 12px;
    margin-left: 8px;
  }
}

@media (max-width: 610px) {
  .searchInput {
    width: 10px;
    font-size: 0.8rem;
    padding: 6px 12px;
  }

  .searchButton {
    padding: 6px 8px;
    font-size: 11px;
    margin-left: 0px;
  }

  .searchIcon {
    margin-right: 2px;
  }
}
