.themeToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  transition: all 0.15s;
}

.themeToggle:hover {
  background-color: rgba(200, 200, 200, 0.3);
  transform: scale(1.1);
}

.themeToggle:active {
  transform: scale(0.95);
}

.icon {
  color: #fff;
  transition: all 0.15;
}